/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Tailwind's min-h-screen */
  background-color: #f9fafb; /* Tailwind's bg-gray-50 */
  color: #1a202c; /* Tailwind's text-gray-900 */
}

.app-main {
  flex-grow: 1; /* Tailwind's flex-grow */
  padding: 1.5rem; /* Tailwind's p-6 */
}
